<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="<%= concatURL('/pure-min.css') %>" />
    <style>
      body {
        padding: 50px;
      }
    </style>
  </head>
  <body>
    <h1><%= labels.details %></h1>
    <p>
      <%= labels.loggedinas %>: <% if (enumerateUsers) { %> <%= user.username %>
      <% } else { %> <%= user.name || user.username %> <% } %>
    </p>
    <p>Groups: <%= user.attributes.groups?.value || 'No groups' %></p>
    <form action="<%= concatURL('/logout') %>" method="GET">
      <button type="submit" class="pure-button pure-button-primary">
        <%= labels.logout %>
      </button>
    </form>
  </body>
</html>
